<header>
    <div class="query">
        <form method="get" action="/search">
            <input type="text" name="query">
            <button type="submit">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <div class="spacer"></div>
    <div class="header">
        <a href="/" id="site-name">FlaskPlayer</a>
    </div>
    <div class="spacer"></div>
    <div class="navbar">
        {% if user.admin %}
            <a href="{{ url_for('admin.admin_panel') }}">
                Admin panel
            </a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('playlists') }}">
                Playlists
            </a>
        {% endif %}
        {% if not current_user.is_authenticated %}
            <a href="{{ url_for('auth.login_post') }}">
                Login
            </a>
            <a href="{{ url_for('auth.register') }}">
                Sign Up
            </a>
        {% endif %}
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}">
                Logout
            </a>
        {% endif %}
    </div>
</header>