{% extends 'base.html' %}

{% block body %}
    <div class="register">
        <span>Register</span>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
        <form method="POST">
            <div class="username">
                <label for="username">Username:</label>
                <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="Enter username"
                >
                <div></div>
            </div>
            <div class="password">
                <label for="password1">Password:</label>
                <input
                        type="password"
                        id="password1"
                        name="password1"
                        placeholder="Enter password"
                >
                <div></div>
            </div>
            <div class="password">
                <label for="password2">Repeat password:</label>
                <input
                        type="password"
                        id="password2"
                        name="password2"
                        placeholder="Enter password"
                >
                <div></div>
            </div>
            <button type="submit" name="register_data">Submit</button>
        </form>
    </div>
{% endblock %}