{% extends 'base.html' %}

{% block body %}
    <div class="search-results">
        {% if songs or artists or playlists %}
            {% if songs %}
                <div class="song-search">
                    <p class="title">Songs:</p>
                    {% for song in songs %}
                        <a href="/song/{{ song.id }}">
                            <div class="item">
                                {{ song.title }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if artists %}
                <div class="artist-search">
                    <p class="title">Artists:</p>
                    {% for artist in artists %}
                        <a href="/artist/{{ artist.id }}">
                            <div class="item">
                                {{ artist.name }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
            {% if playlists %}
                <div class="playlist-search">
                    <p class="title">User Playlists:</p>
                    {% for playlist in playlists %}
                        <div class="item">
                            <a href="/playlist/{{ playlist.id }}">
                                <div class="playlist-name">
                                    {{ playlist.name }}
                                </div>
                            </a>
                            <div class="playlist-owner">
                                {{ playlist.user.username }}
                            </div>
                            <div class="playlist-status">
                                {% if playlist.is_private %}
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                {% else %}
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% else %}
            <p>Nothing found</p>
        {% endif %}
    </div>
{% endblock body %}