<div id="songs">
    {% for song in songs %}
        <div class="amplitude-song-container amplitude-play" data-amplitude-song-index={{ loop.index0 }}>
            <div class="song-info">
                <div class="song-basic">
                    <a href="/song/{{ song.id }}">
                        <div class="song-title">{{ song.title }}</div>
                    </a>
                    <a href="/artist/{{ song.artist.id }}">
                        <div class="song-artist"> {{ song.artist.name }}</div>
                    </a>
                </div>
                <div class="song-addit">
{#                    <div class="genre">{{ song.genre.type }}</div>#}
                    <div class="song-views">
                        <i class="fa fa-play" aria-hidden="true"></i>
                        {{ length(song.views) }}
                    </div>
                </div>
            </div>

            <div class="song-thumbnail">
                <img src="{{ url_for('static', filename='res/' + song.img_url) }}" alt="album image">
            </div>
        </div>
    {% endfor %}
</div>


<div id="player">
    <div id="white-player">
        <div id="white-player-center">
            <div class="song-description">
                <img data-amplitude-song-info="cover_art_url" class="main-album-art"/>

                <div class="song-meta-data">
                    <span data-amplitude-song-info="name" class="song-name"></span>
                    <span data-amplitude-song-info="artist" class="song-artist"></span>
                </div>
            </div>

            <div class="time-progress">
                <div class="time-container">
                            <span class="current-time">
                            <span class="amplitude-current-minutes" amplitude-main-duration-minutes="true">

                            </span>:<span class="amplitude-current-seconds"
                                          amplitude-main-duration-seconds="true"></span>
                            </span>
                    <span class="duration">
                            <span class="amplitude-duration-minutes"></span>:<span
                            class="amplitude-duration-seconds"></span>
                            </span>
                </div>

                <div id="progress-container">
                    <input type="range" class="amplitude-song-slider" step=".1"/>
                    <progress id="song-played-progress" class="amplitude-song-played-progress"></progress>
                    <progress id="song-buffered-progress" class="amplitude-buffered-progress"
                              value="0"></progress>
                </div>
            </div>
        </div>

        <div id="white-player-controls">
            <div class="amplitude-shuffle amplitude-shuffle-off" id="shuffle">
                <i class="fa fa-random"
                   aria-hidden="true"></i></div>
            <div class="amplitude-prev" id="previous">
                <i class="fa fa-step-backward" aria-hidden="true"></i>
            </div>
            <div class="amplitude-play-pause" id="playpause">
                <div>
                    <div id="playpause-check">
                    </div>
                </div>
            </div>
            <div class="amplitude-next" id="next">
                <i class="fa fa-step-forward" aria-hidden="true"></i></div>
            <div class="amplitude-repeat" id="repeat">
                <i class="fa fa-repeat" aria-hidden="true"></i>
            </div>
        </div>

    </div>

</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/amplitudejs@5.3.2/dist/amplitude.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/music.js') }}"></script>
<script type="text/javascript">
    music.songs = {{ variables.songs_json|safe }};
    music.init();
</script>